@use "global"as *;

.about {
    padding-top: myrem(65);
    background: linear-gradient(180deg, $blue 0%, $blue 92%, $white 92%, $white 100%);

    @include mq('md') {
        padding-top: myrem(40);
    }
}

// .about__inner.inner {
//     padding-left: myrem(10);
//     padding-right: myrem(10);
// }

.inner {}

.about__title {}

.section-title {}

.section-title--reverse {}

.about__flex {
    display: flex;
    margin-top: myrem(35);
    // width: 100vw;
    margin-right: min(0px, calc(50% - 40vw));

    @include mq('md') {
        flex-direction: column;
        margin-right: 0;
    }
}

.about__text {
    letter-spacing: 0.06em;
    line-height: calc(34 / 16);
    font-weight: $bold;
    width: myrem(540);

    @include mq('md') {
        font-size: myrem(12);
        width: auto;
    }
}

.about__img {
    aspect-ratio: 800 / 560;
    overflow: hidden;
    max-width: myrem(800);
    margin-left: myrem(60);
    flex: 1;

    @include mq('md') {
        margin-left: 0;
        margin-top: myrem(20);
    }
}

.about__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}