@use "global" as *;

.effect__card {}

.effect-card {}

.effect-card__img {
    aspect-ratio: 474 / 259;
    overflow: hidden;
    border-bottom: 4px solid $blue;
}

.effect-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.effect-card__heading {
    margin-top: myrem(10);
    display: flex;
    align-items: center;
}

.effect-card__number {
    font-family: $sub-font;
    font-size: myrem(32);
    line-height: calc(39 / 32);
    font-weight: $bold;
    color: $blue;

    @include mq('md') {
        font-size: myrem(22);
        line-height: 1.5;
    }
}

.effect-card__title {
    font-family: $main-font;
    font-size: myrem(20);
    letter-spacing: 0.03em;
    line-height: calc(35 / 20);
    font-weight: $bold;
    margin-left: myrem(22);

    @include mq('md') {
        font-size: myrem(18);
        line-height: 1.5;
    }
}

.effect-card__text {
    margin-top: myrem(10);
    font-family: $main-font;
    font-size: myrem(14);
    line-height: calc(28 / 14);

    @include mq('md') {
        margin-top: myrem(4);
    }
}
