@use "global" as *;

.effect {
    margin-inline: auto;

    @include mq('md') {
        padding-left: myrem(20);
        padding-right: myrem(20);
    }
}


.effect__cards {
    margin-top: myrem(44);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px 52px; //縦幅 横幅

    @include mq('md') {
        grid-template-columns: repeat(1, 1fr);
        margin-top: myrem(15);
        gap: myrem(40);
    }
}

.effect__card {
    min-height: myrem(509);

    @include mq('md') {
        min-height: fit-content;
    }
}
