@use "global" as *;

.headeing {}

.heading__inner {
}

.heading__title {
    font-family: $main-font;
    font-size: myrem(16);
    line-height: calc(19 / 16);
    font-weight: $bold;
    text-align: center;
    display: block;
    position: relative;
    padding-left: myrem(46);

    @include mq('md') {
        font-size: myrem(14);
        padding-left: myrem(20);
    }

}

.heading__title span{
    font-family: $sub-font;
    font-size: myrem(44);
    line-height: calc(54 / 44);
    font-weight: $semibold;
    margin-top: myrem(13);
    padding-right: myrem(30);

    display: flex;
    justify-content: center;

    @include mq('md') {
        font-size: myrem(30);
        margin-top: myrem(5);
    }
}

.heading__title span:first-letter {
    color: $blue;
}

.heading__title span::before {
    content: "";
    width: myrem(7);
    height: myrem(50);
    background-color: $blue;
    transform: rotate(27deg);
    display: inline-block;
    bottom: myrem(5);
    left: 37%;
    margin-right: myrem(33);

    @include mq('md') {
        height: 30px;
        left: 19%;
        width: 4px;
    }
}

.heading__category {
    display: grid;
    grid-template-columns: repeat(auto-fit, myrem(285));
    place-content: center;
    gap: myrem(23) myrem(20); //縦幅 横幅
    margin-top: myrem(80);

    @include mq('md') {
        margin-top: myrem(40);
        gap: myrem(10);
    }
}

.heading__category li a {
    width: myrem(285);
    padding: myrem(23) 0 myrem(23) myrem(20);
    border: 2px solid $blue;
    border-radius: myrem(35);
    display: block;
    font-size: myrem(14);
    line-height: calc(17 / 14);
    font-weight: $bold;

    @include mq('md') {
        font-size: myrem(12);
        padding: myrem(10);
        border: 1px solid $blue;
    }
}

.heading__category li {
    display: flex;
    position: relative;
    width: myrem(285);
}

.heading__category span {
    display: block;
    vertical-align: middle;
    color: $blue;
    width: myrem(9);
    height: myrem(9);
    border: 2px solid $blue;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-50%) rotate(135deg);
    text-align: right;
    position: absolute;
    right: myrem(20);
    top: 50%;
}
