@use "global" as *;

.mode {
    margin-inline: auto;
}


.mode__cards {
    margin-top: myrem(50);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 13px 52px; //縦幅 横幅
}

.mode__card {
    min-height: myrem(509);
}
