@use "global" as *;

.pc-nav {}

.pc-nav__items {
    display: flex;
    margin-top: myrem(4);
    justify-content: center;
    max-width: myrem(1518);
    margin-inline: auto;
}

.pc-nav__item {
    font-size: myrem(16);
    line-height: calc(19 / 16);
    font-weight: $bold;
    height: inherit;
    display: flex;
}
.pc-nav__item a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: clamp(1.25rem, -1.205rem + 5.114vw, 5.188rem);
    padding-right: clamp(1.25rem, -1.205rem + 5.114vw, 5.188rem);
    // padding: 0 myrem(83);
    height: inherit;
}

.pc-nav__items:first-child::before {
    content: "";
    background: #E4E4E4;
    width: myrem(1);
    height: myrem(21);
    display: inline-block;
}

.pc-nav__item::after {
    content: "";
    background: #E4E4E4;
    width: myrem(1);
    height: myrem(21);
    display: inline-block;
}
