@use "global" as *;

.price {}

.price__title {}

.section-title {}

.price__heading {
    margin-top: myrem(33);
    font-size: myrem(24);
    letter-spacing: 0.025em;
    line-height: calc(34 / 24);
    font-weight: $bold;
    text-align: center;

    @include mq('md') {
        font-size: myrem(20);
    }
}

.price__list {
    margin-top: myrem(36);
}

.price__button a {
    margin-top: myrem(117);
    display: block;
    text-align: center;
    text-decoration: none;
    position: relative;
    max-width: myrem(1000);
    margin: auto;
    padding: myrem(53) 0;
    font-weight: bold;
    color: $blue;
    box-shadow: 11px 11px #87BBDB;
    transition: 0.3s ease-in-out;
    background: #D9F1FF;
    border-radius: myrem(60) 0 0 0;
    font-size: myrem(24);
    line-height: calc(29 / 24);
    letter-spacing: 0.04em;

    @include mq('md') {
        margin-top: myrem(50);
        padding: myrem(20) 0;
        border-radius: myrem(30) 0 0 0;
        font-size: myrem(18);
        box-shadow: 8px 8px #87BBDB;
    }
}

.price__button a:hover {
    box-shadow: none;
    transform: translate(11px, 11px);
    opacity: 1;
}

.price__button span {
    position: absolute;
    display: inline-block;
    padding-left: 20px;
    // color: #333;
    text-decoration: none;
    right: 6%;

    @include mq('md') {
        top: 25%;
    }
}

.price__button span:before {
    content: '';
    width: myrem(32);
    height: myrem(32);
    background: $blue;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: myrem(-18);
    // margin-top: -9px;
}

.price__button span:after {
    content: '';
    width: myrem(10);
    height: myrem(10);
    border: 0;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    top: myrem(10);
    left: myrem(-10);
    // margin-top: -4px;
    transform: rotate(45deg);
}

// .price__button span {
//     display: inline-block;
//     vertical-align: middle;
//     padding: myrem(11) myrem(13);
//     color: $white;
//     line-height: 1;
//     position: relative;
//     width: myrem(32);
//     height: myrem(32);
//     transform: translateX(-25%) rotate(45deg);
//     background: $blue;
//     border-radius: myrem(150);
// }

// .price__button span::before,
// .price__button span::after {
//     content: '';
//     position: absolute;
//     background: currentColor;
//     border-radius: 0.1em;
// }

// .price__button span::before {
//     top: 0;
//     left: 0;
//     right: 0;
//     height: 0.1em;
// }

// .price__button span::after {
//     top: 0;
//     right: 0;
//     bottom: 0;
//     width: 0.1em;
// }

