@use "global" as *;

.recommendation {
    padding: myrem(70) myrem(90) myrem(56);
    border: 8px solid #F2F2F2;
    border-radius: myrem(60) 0 0 0;

    @include mq('md') {
        padding: myrem(50) myrem(15);
    }
}


.recommendation__items {
    margin-top: myrem(28);

    @include mq('md') {
        margin-top: myrem(60);
    }
}

.recommendation__item {}


.recommendation__heading {
    font-size: myrem(24);
    letter-spacing: 0.04em;
    line-height: calc(34 / 24);
    font-weight: $bold;
    align-items: center;
    display: flex;

    @include mq('md') {
        font-size: myrem(18);
    }
}

.recommendation__heading::before {
    content: "";
    background: $blue;
    width: myrem(9);
    height: myrem(36);
    margin-right: myrem(10);
    display: inline-block;

    @include mq('md') {
        width: myrem(5);
        height: myrem(24);
    }
}

.recommendation__question {
    margin-top: myrem(30);

    @include mq('md') {
        margin-top: myrem(15);
    }
}

.recommendation__question dt {
    background: #F2F2F2;
    padding: myrem(10) myrem(19);
    border-radius: myrem(20) 0 0 0;
    font-size: myrem(18);
    letter-spacing: 0.03em;
    line-height: calc(32 / 18);
    font-weight: $bold;

    @include mq('md') {
        font-size: myrem(14);
        padding: myrem(2) myrem(20);
    }
}
.recommendation__question dd {
    font-size: myrem(16);
    line-height: calc(32 / 16);
    margin-top: myrem(14);
    padding-right: myrem(5);

    @include mq('md') {
        font-size: myrem(14);
    }
}

.recommendation__item:nth-child(2) {
    margin-top: myrem(40);
}

.recommendation__list {
    margin-top: myrem(31);
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, 1fr);
    gap: 12px 100px; //縦幅 横幅

    @include mq('md') {
        display: block;
        padding-bottom: myrem(12);
        padding-top: myrem(12);
        margin-top: 0;
    }
}

.recommendation__list li {
    border-bottom: 2px dashed #E8E8E8;
    padding-bottom: myrem(23);

    @include mq('md') {
        padding-bottom: myrem(23);
        padding-top: myrem(23);
    }
}
