@use "global" as *;

.section-title {
    font-size: myrem(32);
    letter-spacing: 0.053em;
    line-height: calc(54 / 32);
    font-weight: $bold;
    text-align: center;
    position: relative;
}

.section-title::after {
    content: "";
    width: myrem(60);
    height: myrem(3);
    background: $blue;
    margin-top: myrem(13);
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.section-title--reverse::after {
    background: $white;
}