@use "global" as *;


.button_top {
    font-family: $sub-font;
    background-color: $white;
    color: $blue;
    font-size: myrem(12);
    width: myrem(73);
    height: myrem(73);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid $blue;
    position: fixed;
    right: calc(50% - min(48vw, myrem(600)));
    bottom: myrem(42);

    /* ⑧色が変化する時間 */
    transition: .3s;

    @include mq('md') {
        bottom: myrem(80);
    }
}

/* ⑦マウスをかざした時に変化する色の指定 */
.button_top:hover {
    background-color: $blue;
    color: $white;
    border: 1px solid $white;
    opacity: 1;
}

.button_top::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid $blue;
    border-right: 1px solid $blue;
    transform: rotate(-45deg);

    /* ⑩色が変化する時間 */
    transition: .3s;
}

/* ⑨マウスをかざした時に変化する色の指定 */
.button_top:hover::before {
    border-top: 2px solid $white;
    border-right: 2px solid $white;
}